<?xml version="1.0"?>

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

<system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <validation validateIntegratedModeConfiguration="false" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="true" />
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <caching>
      <profiles>
        <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Client" />
      </profiles>
    </caching>
    <httpProtocol>
      <customHeaders>
        <remove name="Vary"></remove>
        <add name="Vary" value="Accept-Encoding"></add>
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <clientCache cacheControlMode="UseExpires" cacheControlMaxAge="7.00:00:00" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript" />
    </staticContent>
   </system.webServer>
</configuration>
